<table width='100%' border='0'>
    <tr>
        <td><img src='../images/ucd.png' width='120'></td>
        <td><img src='../images/dept_inf.png' width='350'></td>
        <td><img src='../images/fs.png' width='120'></td>
    </tr>
</table>

# Langage Python : Pratique de pandas

Email : <a href='mailto:madani.a@ucd.ac.ma'>madani.a@ucd.ac.ma</a>
<img src='../images/python.png' width="100">

<ol>
<li>Créer un DataFrame à partir du fichier Excel contenant le dataset 'Titanic.xls'
<li>Afficher les dimensions du DataFrame
<li>Afficher les noms des colonnes
<li>Afficher les trois premières lignes du DataFrame
<li>Afficher les six dernières lignes du DataFrame
<li>Créer un autre DataFrame contenant  seulement 'pclass', 'survived', 'sex' et 'age'
<li>Afficher les statistiques de base
<li>Jeter un coup d'oeil à la ligne 'count'. Que remarquez-vous ?
<li>Afficher les lignes ayant des valeurs manquantes dans l'âge
<li>Remplacer les valeurs manquante par une valeur donnée
<li>Remplacer les valeurs manquantes par la moyenne
<li>Elimner les lignes dans lesquelles il nous manque l'âge
<li>Afficher les dimensions
<li>Afficher les statistiques
<li>Afficher le nombre de personnes de la 1ère, la 2ème et la 3ème classe
<li>Représenter sous forme de graphe le nombre de personnes pour chaque classe
<li>Représenter sous forme d'histogramme la répartition des âges
<li>Regrouper les gens selon leur sexe. Quelle est la moyenne des âges, le pourcentage des survivants de chaque sexe
<li>Regrouper les passagers par sexe et par classe. Quel est le pourcentage des survivants par sexe et par classe
<li>Changer les index par les noms des passagers
<li>Afficher les passagers mineurs
<li>Regrouper les passagers mineurs par sexe et par classe.
</ol>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#1. Créer un DataFrame à partir du fichier Excel contenant le dataset 'Titanic.xls'
df = pd.read_excel("datasets/titanic.xls")

In [ ]:
#2. Afficher les dimensions du DataFrame
df.shape

In [ ]:
#3. Afficher les noms des colonnes
df.columns

In [ ]:
#4. Afficher les trois premières lignes du DataFrame
df.head(3)

In [ ]:
#5. Afficher les six dernières lignes du DataFrame
df.tail(6)

In [ ]:
#6. Créer un autre DataFrame contenant seulement 'pclass', 'survived', 'sex' et 'age'
#df[['pclass', 'survived', 'sex' , 'age']]
other = df.loc[:,['pclass', 'survived', 'sex' , 'age']]
other.head()

In [ ]:
#7. Afficher les statistiques de base
other.describe()

In [ ]:
#8. Jeter un coup d'oeil à la ligne 'count'. Que remarquez-vous ?
#Les nombres de 'pclass', "survived" et "age" sont différents, ce qui montre qu'il y a
#des valeurs manquantes dans la colonne 'age'

In [ ]:
#9. Afficher les lignes ayant des valeurs manquantes dans l'âge
#other[other['age'].isna()].shape
#other[other['age'].isna()]['age'].size
#other[other['age'].isna()]
other[other['age'].isna()]["age"]

In [ ]:
#10. Remplacer les valeurs manquante par une valeur donnée
another = other.fillna(0)
another.describe()

In [ ]:
#11. Remplacer les valeurs manquantes par la moyenne
print("Moyenne des ages:",other['age'].mean())
another2 = other.fillna(other['age'].mean())
another2.head()

In [ ]:
#12. Elimner les lignes dans lesquelles il nous manque l'âge
other2=other.dropna()
other2.describe()

In [ ]:
#13. Afficher les dimensions
other2.shape

In [ ]:
#14. Afficher les statistiques
other2.describe()

In [ ]:
#15. Afficher le nombre de personnes de la 1ère, la 2ème et la 3ème classe
group = another.groupby(['pclass']).count()
group

In [ ]:
#16. Représenter sous forme de graphe le nombre de personnes pour chaque classe
Y = group['age']
X = group.index
plt.bar(X,Y)

In [ ]:
#16
another3 = another['pclass'].value_counts()
another3

In [ ]:
another3.plot.bar()

In [ ]:
#17. Représenter sous forme d'histogramme la répartition des âges
another4 = another['age'].value_counts()
another4.plot.bar()

In [ ]:
#18. Regrouper les gens selon leur sexe. 
#Quelle est la moyenne des âges, le pourcentage des survivants de chaque sexe
other.groupby(['sex']).mean()
#Moyenne des âges : 28,68 pour les femmes et 30,58 pour les hommes
#%des survivants : 72%des hommes et 19%de femmes

In [ ]:
#19. Regrouper les passagers par sexe et par classe. 
#Quel est le pourcentage des survivants par sexe et par classe
other.groupby(['sex','pclass']).mean()

In [ ]:
#20. Changer les index par les noms des passagers
another5 = df.set_index('name')
another5.head(2)

In [ ]:
#21. Afficher les passagers mineurs
other[other['age']<18]

In [ ]:
#22. Regrouper les passagers mineurs par sexe et par classe.
another6 = other[other['age']<18].groupby(['sex','pclass']).count()
another6